@use "../../foundation/mixin" as *;
.c-article {

  &__image-container {
   margin-bottom: 4rem; 
   @include mq {
    margin-bottom: 5.5rem;
   }
    img {
      border: 1px solid #f1f3f9;
    }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 1.5;
    margin-bottom: 1.6rem;
    @include mq {
      font-size: 3.2rem;
      margin-bottom: 2rem;
    }
  }

   // 事例記事の文章のスタイル
  &__text {
    p {
      line-height: 1.8;
      margin-bottom: 4rem;
    }

    // 記事文章の中にだけ効かせる
    // sectionかdivの中にタグだけ書けば以下のスタイルが適用される
    section, div {
      > ul {
        margin: 3rem 0;
        padding-left: 4rem;

        > li {
          margin-bottom: 1rem;
          list-style: disc;
        }
      }
      > ol {
        margin: 3rem 0;
        padding-left: 5rem;

        > li {
          margin-bottom: 1rem;
          list-style: auto;
        }
      }
    }
  }

  // 事例記事の内容スタイル
  &__content {
    a {
      color: #476fd3;
      text-decoration: underline;
      &:hover {
        color: #264A9A;
      }
    }
    h2 {
      background-color: #F1F3F9;
      padding: 1.5rem 2.5rem 1.2rem;
      border-radius: 2px;
    }
    h2, h3 {
      margin: 7rem 0 3rem 0;
      color: #264A9A;
    }
    h4, h5, h6 {
      font-size: 1.8rem;
      margin: 5rem 0 1rem 0;
      color: #367efd;
    }
    h3 {
      font-size: 2rem;
    }
    figure {
      text-align: center;
      margin: 2rem 0;

      img {
        border: 1px solid #f1f3f9;
      }
    }
    figcaption {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      color: #8491ac;
    }
  }

}