@use "../../foundation/mixin" as *;
.c-article {

  &__image-container {
   margin-bottom: 4rem; 
   @include mq {
    margin-bottom: 5.5rem;
   }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 1.5;
    margin-bottom: 1.6rem;
    @include mq {
      font-size: 3.2rem;
      margin-bottom: 2rem;
    }
  }

  &__text {
    p {
      line-height: 1.8;
      margin-bottom: 3rem;
    }
  }

}