@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;
.c-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  &.justify-content-left {
    justify-content: flex-start;
  }

  @include mq {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.c-card {
  background-color: #FFF;
  flex: 1 1 330px;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  @include mq {
    max-width: calc(50% - 1.2rem);
  }

  //トップページのカードスタイル
  &__top-page-card {
    @include mq {
      max-width: 590px;
    }
    &__white-bg {
      border: solid #e8eaf0 1px;
    }
  }
  // 事例一覧ページのカードスタイル
  &__cases-card {
    box-shadow: 1px 2px 10px #f1f3f6;
  }
  
  &__link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
 
    &:hover {
      opacity: .7;
    }
  }

  &__image-container {
    position: relative;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    @include mq {
      height: 290px;
    }

    &--green {
      background-color: $color-green;
    }

    &--blue-white {
      background-color: $color-blue;
    }

    &--h-290 {
      height: 290px;
    }
  }

  &__image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 3rem;
    width: 100%;

    &--main {
      color: $color-white;
      font-size: 3.2rem;
      font-weight: 700;
    }
    &--sub {
      color: $color-white;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      display: inline-block;
    }
  }

  &__content {
    padding: 2rem 3rem;
    flex-grow: 1;

    &--link {
      position: relative;
      padding-right: 5rem;

      &::after {
        content: '';
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 26px;
        background-image: url('../../assets/images/arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  // 事例一覧ページのcontent
  &__cases-content {
    padding: 2.5rem;
    flex-grow: 1;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.8;
  }
  //事例一覧ページのタイトル
  &__cases-title {
    font-family: "YuMincho", sans-serif;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    color: #2f3033;
  }

  &__description {
    font-size:1.6rem;
    line-height: 1.5;
    color: #4a5062;
    margin-bottom: 1.3rem;
  }
  //事例一覧ページのディスクリプション
  &__cases-description {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #2f3033;
    margin-bottom: 2.5rem;
  }
}
