@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-tags {
  display: flex;
  align-items: center;
  gap: .8rem;
  width: fit-content;
  flex-wrap: wrap;
}

.c-tag {
  padding: .8rem 1.6rem;
  border-radius: 2px;

  &--green {
    background-color: #DFF6E7;
    color: #177C50;
  }

  &--blue {
    background-color: #DFEDF6;
    color: #17487C;
  }

  &--small {
    padding: .8rem 1rem;
    font-size: 1.2rem;
    @include mq {
      padding: .8rem 1.6rem;
      font-size: 1.6rem;
    }
  }
}